<div  class="container" style="background-color: #c0b49f; ">
   
    {% load static %}

    <div class="container pt-4 pb-1" style="background-color: #c0b49f; ">
        <div class="row justify-content-center">
            <div class="col-2">
                <img src="{% static 'img/inmobiliario.png'%}" alt="logo" class="img-fluid">
            </div>
        </div>
    </div>


    <div class="col text-center pt-4 pb-2">
        <p>Creado por Gustavo Manquepillán para Desafio Latam - 2024</p>
    </div>
</div>